.hw, .hwp {
	font-family: 'Kalam', 'dartsfont';
	letter-spacing: -1px;
	text-shadow: 0 0 1px #FFF;
	color: #222;
	transform: rotate(0.05deg);
	font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 1.3;
  line-break: strict;
  text-align: justify;
  resize: both;
  display: block;
  box-sizing: border-box;
  margin: .5ex 0;
}

.output{
  width: 90%;
  height: 500px;
}

textarea#inputText {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 1ex 0 0;
}
