<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TegakiDoc</title>
    <link type="text/css" rel="stylesheet" href="../node_modules/normalize.css/normalize.css"/>
    <link type="text/css" rel="stylesheet" href="./css/font.css"/>
    <link type="text/css" rel="stylesheet" href="./css/handwriting.css"/>
    <link type="text/css" rel="stylesheet" href="./css/print.css"/>
  </head>
  <body>
    <div id="app">
      <div class="editor input">
        <div class="i_left">
          <textarea id="inputText" placeholder="ここに任意の文字を入力" v-model="inputText"></textarea>
        </div>
        <div class="i_right">
          <input id="beauty" type="number" placeholder="文字の綺麗さ(標準: 250)" v-model="beauty"><br/>
          <button id="print" @click="printPdf">PDFに出力</button>
        </div>
      </div>
      <div class="print output">
        <div id="result" class="hw" v-html="tegakinize"></div>
      </div>
    </div>
    <script src="./handwriting.js"></script>
  </body>
</html>
